:root {
    --color-primary: #212121;
    --color-text: #757575;
    --color-background: #fff;
    --color-accent: #2196f3;
    --color-icons: #afb1b8;
    --color-footer: #2f303a;
    --color-section:#F5F4FA;
  }